.section_title {
	text-align: left;
	font-size: 200%
}

body {
    position: relative;
  }
  
ul.nav-pills {
    top: 20px;
    position: fixed;
}

div.col-8 div {
    height: 500px;
}

.col-derecha {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 0px;
  }