/* ESTILOS PRINCIPALES DE LAS ESTRUCTURAS */
#pieDePagina{
    background-color: #0c679d;
}
#barraDeNavegacion{
    background-color: #0c679d;
}
#imagenCabecera{
    background-color: rgb(0, 0, 49);
}


/* Iniciar de forma oculta los formaularios */
#formEfectivo{
    display: none;
}
#formTarjeta{
    display: none;
}
#formTransferencia{
    display: none;
}
#formularioAbonado{
    display: none;
}
