

body{
	background: lightseagreen;
	background: linear-gradient(to right, rgba(4, 0, 255, 0.267), lightseagreen);
}
.bg{
	/*background-image: url(../images/img_inicio_sesion.png);*/
	background-position: center center;
}


/* .cuerpoLSG {background-color: lightseagreen}
	
	h1 {text-align: center}
	
	.fs_reg {
		border: 5px outset red;
		background-color: lightblue;    
		text-align: center;
		margin-left: 100px;
		margin-right: 100px;
	}
	
	.button {
		border: none;
		color: white;
		padding: 10px 16px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
	
	.confirmar {background-color: cornflowerblue;}
	.cancelar {background-color: darkgray;}
	
	footer {text-align: center}
*/
