body {background-color: lightseagreen}
            
h1 {text-align: center}
            
.fs_reg {
	border: 5px outset red;
	background-color: lightblue;    
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}
			
.button {
	border: none;
	color: white;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.oculto {display: none;}
			
.confirmar {background-color: cornflowerblue;}
.cancelar {background-color: darkgray;}