header {
	background-color:#008B8B;
	text-align:center;
	padding: 10px
}

h1 {
	text-align: center;
	font-size:300%
	}
		
.contenedor-img {
	text-align: center;
	}
	
.fondo {
	width:500px; height:250px;
}

.barra-der{
	text-align: right;
}

.contenedor_azul {
	background-color:#008B8B;	
}

.texto_centro {
	text-align: center;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.oculto {
	display: none;
} 