
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

thead {
	border-color: meduiumslateblue;
	background-color: paleturquoise;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
			
h1 {text-align: center}

footer {
	text-align: center;
	background-color:#008B8B;
}

.t2 thead {
    background-color: darkslategrey;
}

.t2 tbody {
    background-color: darkseagreen;
}