{% extends "base/base.html" %}
{% load static %}
{% block title %}Cursos - Estado de los pagos{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_inicio_sesion.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}">
{% endblock %}

{% block header %}
<header>
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/logotipo.png' %}" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo">
    </div>
</header>
{% endblock %}

{% block contenido %}
    {% for curso in cursos %}
        <h1>Curso {{curso.cod_curso}}: {{curso.nombre_curso}}</h1>
        <h3>Alumnos que han pagado</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>APELLIDO</th>
              <th>NOMBRE</th>
              <th>CUIL</th>
              <th>PAGO</th>
            </tr>
          </thead>
          <tbody>
            {% for alumnosC in alumnosCursos %}
                {% if alumnosC.cod_curso.cod_curso == curso.cod_curso %}
                    {% if alumnosC.estado_de_pago == True %}
                        <tr>
                            <td>{{alumnosC.cuit_persona.apellido}}</td>
                            <td>{{alumnosC.cuit_persona.nombre}}</td>
                            <td>{{alumnosC.cuit_persona.apellido}}</td>
                            <td>Pagado</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <br>
        <h3>Alumnos que aún no han pagado</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>APELLIDO</th>
              <th>NOMBRE</th>
              <th>CUIL</th>
              <th>PAGO</th>
            </tr>
          </thead>
          <tbody>
            {% for alumnosC in alumnosCursos %}
                {% if alumnosC.cod_curso.cod_curso == curso.cod_curso %}
                    {% if alumnosC.estado_de_pago == False %}
                        <tr>
                            <td>{{alumnosC.cuit_persona.apellido}}</td>
                            <td>{{alumnosC.cuit_persona.nombre}}</td>
                            <td>{{alumnosC.cuit_persona.apellido}}</td>
                            <td>Aún no</td>
                        </tr>
                    {% endif %}
                {% endif %}
             {% endfor %}
          </tbody>
        </table>

    {% endfor %}
{% endblock %}