{% extends "base/base.html" %}
{% load static %}
{% block title %}Inscriptos al curso{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_inicio_sesion.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}">
{% endblock %}

{% block header %}
<header>
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/logotipo.png' %}" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo">
    </div>
</header>
{% endblock %}

{% block contenido %}
<h1>Curso {{cursoE.cod_curso}}: {{cursoE.nombre_curso}}</h1>
<h3>Alumnos inscriptos</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>APELLIDO</th>
      <th>NOMBRE</th>
      <th>CUIL</th>
      <th>PAGO</th>
    </tr>
  </thead>
  <tbody>
    {% for curso in cursoInscripto.all %}
        <tr>
          <td>{{curso.cuit_persona.apellido}}</td>
          <td>{{curso.cuit_persona.nombre}}</td>
          <td>{{curso.cuit_persona.apellido}}</td>
          {% if curso.estado_de_pago == False %}
            <td>Aún no</td>
          {% else %}
            <td>Pagado</td>
          {% endif %}
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}