{% extends "base/base.html" %}
{% load static %}
{% block title %}Gestión de estadisticas{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_inicio_sesion.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% css/estadisticas_secciones.css' %"> -->
{% endblock %}

{% block header %}
<header>
    <div id="imagenCabecera" class="card text-white">
      <!--<img src="../images/logotipo.png" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo"> -->
        <img src="{% static 'img/logotipo.png' %}" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo">
    </div>
</header>
{% endblock %}

{% block contenido %}
	<h1>Cursos registrados - Emisión de estadisticas</h1>

	<div class="container bg-warning">
		<input type="checkbox" id="filtrarSI" onclick="ocultarMostrarFiltro()">
		<label for="filtrarSI"> Filtrar por periodos</label>
	</div>

	<div class="container bg-success oculto p-2" id="contenedorFormFiltro">
		<div class="col-md-12">
			<form class="form" action="" method="post" id="formFiltro">
				<h3>Filtrar por fechas</h3>
				<label for="fecha_ini_curso" class="mr-sm-2">Fecha inicio</label>
				<input type="date" id="fecha_ini_curso" name="fecha_ini_curso" class="form-control mb-2 mr-sm-4" required>
				<br>
				<label for="fecha_fin_curso" class="mr-sm-2">Fecha final</label>
				<input type="date" id="fecha_fin_curso" name="fecha_fin_curso" class="form-control mb-2 mr-sm-4" required>
				<br>

				<h3>Opciones para filtrar</h3>

				<input type="submit" class="button confirmar" onclick="redirigirFiltrarCursos()">Solo filtrar cursos</input>
				<br>
				<input type="submit" class="text-dark" onclick="redirigirFiltrarCursoInscripciones()">Filtrar y mostrar inscriptos a los cursos</input>
				<br>
				<input type="submit" class="text-dark" onclick="redirigirFiltrarCursoPagos()">Filtrar y mostrar estado de los pagos</input>
				{% csrf_token %}
			</form>
		</div>
	</div>
	<br>
	<div class="container bg-warning" id="contenedorOpcionesSinFiltro">
			<ul>
				<li><a href="{% url 'apps:incriptosALosCursos' %}" class="text-white">Inscriptos por cursos</a></li>
				<li><a href="{% url 'apps:pagosEnCursos' %}" class="text-white">Estado de los pagos por cursos</a></li>
			</ul>
	</div>
	<br>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Nombre</th>
					<th>Fecha de Inicio</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				{% for curso in cursos %}
				<tr>
					<td>{{curso.cod_curso}}</td>
					<td>{{curso.nombre_curso}}</td>
					<td>{{curso.fecha_ini_curso}}</td>
					<td>
						<div class="row">
							<div class="col-md-4">
								<button type="button"><a href="{% url 'apps:incriptosACurso' curso.cod_curso %}">Inscriptos</a></button>
							</div>
							<div class="col-md-4">
								<button type="button"><a href="{% url 'apps:pagosDelCurso' curso.cod_curso %}">Estado Pagos</a></button>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

	<script src="{% static 'scripts/filtroDeEstadisticas.js' %}"></script>
{% endblock %}


<!-- <!DOCTYPE html>
<html> -->
	<!-- <head>
		<title>Estadisticas</title>

		<-- bootstrap ->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<- propios css ->
		<link rel="stylesheet" type="text/css" href="../css/inicio.css">
		<link rel="stylesheet" type="text/css" href="../css/tabla.css">
		<link rel="stylesheet" type="text/css" href="../css/estilo_inicio_sesion.css">
		<link rel="stylesheet" type="text/css" href="../css/estadisticas_secciones.css">

	</head> -->

	<!-- <body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
		-- <header>
			<div class="container p-3 my-3 border bg-white">
				<p class="contenedor-img"><img class="fondo img-fluid" src="../images/img_presentacion_gcp.png" alt="logo gcp"></p>
			</div>

			<div class="container border bg-light">
				<ul class="nav">
					<li class="nav-item">
					  <a class="nav-link" href="#">Inicio</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Acerca de</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</div>
			<h1>CURSOS REGISTRADOS<h1>
		</header> -->

		<!-- <header>
			<div id="imagenCabecera" class="card text-white">
				<img src="../images/imegenDeFondo.jpg" class="card-img opacity-25" height="350" alt="imagenDeFondo">
				<div class="card-img-overlay">
				<br>
				<h1 class="card-title text-center">Gestión de Estadisticas</h1>
				<br>
				<p class="card-text text-center fst-italic ">Se mostrará información de las estadisticas, algunas de las cuales pueden ser Cantidades de Cursos, Alumnos, etc.</p>
				</div>
			</div>
		</header> -->

	<!--	<section>
		<div class="container col-md-9 col-derecha">
			<nav class="navbar navbar-expand-sm bg-white navbar-dark">
				<a class="navbar-brand" href="#">
					<img src="../images/logoNavBar.png" alt="Logo" style="width:200px;">
				</a>

				<ul class="nav">
					<li class="nav-item">
					  <a class="nav-link" href="#">Inicio</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Acerca de</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</nav>

		</div> -->

	<!--	<nav id="barraDeNavegacion" class="navbar navbar-expand-md navbar-dark border-3 border-bottom border-primary">
			<div class= "container-fluid">
				<a href="#" class= "navbar-brand"><strong>GCP</strong></a>
				<button type = "button" class = "navbar-toggler" data-bs-toggle = "collapse" data-bs-target = "#MenuNavegacion">
					<span class = "navbar-toggler-icon"></span>
				</button>
				<div id = "MenuNavegacion" class= "collapse navbar-collapse">
					<ul class = "navbar-nav ms-3">
						<li class="nav-item"><a class= "nav-link" href="../inicio.html" target="_parent">Inicio</a></li>
						<li class="nav-item"><a class= "nav-link" href="./pag-admin.html" target="_parent">Gestión de cursos</a></li>

						<li class= "nav-item dropdown">
							<a class= "nav-link dropdown-toggle" href="#" role = "button" data-bs-toggle="dropdown">Opciones de soporte</a>
							<ul class= "dropdown-menu">
								<li><a class = "dropdown-item" href="#">Manuales</a></li>
								<li><a class = "dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Contacta con nosotros</a></li>
							</ul>
						</li>
						</ul>
						<ul class = "navbar-nav ms-3 position-absolute top-50 end-0 translate-middle">
							<li class = "nav-item">
								<a class = "nav-link text-nowrap" href= "./pag-inicio-sesion.html" target="_parent">Iniciar sesión</a>
							</li>
						</ul>
				</div>
			</div>

			<-- DATOS DE CONTACTO DESPLEGABLE -
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Email/s de contacto:</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						sergitula.50@gmail.com <br> franvictor18@gmail.com
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
					</div>
					</div>
				</div>
				</div>
		</nav>  --

		<section> -->
			<!-- <div class="container-fluid">
				<div class="row">
					<-- PRIMERA COLUMNA --
					<div class="col-sm-2">
						<nav class="abs-center" id="myScrollspy">
							<ul class="nav nav-pills flex-column">
							  <li class="nav-item">
								<a class="nav-link active" href="#section1">Cursos registrados</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="#section2">Alumnos registrados</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" href="#section3">Por Fecha</a>
							  </li>
							</ul>
						</nav>
					</div> -->

					<!--SEGUNDA COLUMNA  --
					<div class="col-sm-10">

					<--
						<div id="section1">
							<h1 class="section_title">Cursos registrados</h1>
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Codigo</th>
											<th>Nombre</th>
											<th>Fecha de Inicio</th>
										</tr>
									</thead>
									<tbody>
										{% for curso in cursos %}
											<tr>
												<td>{{curso.cod_curso}}</td>
												<td>{{curso.nombre_curso}}</td>
												<td>{{curso.estado_curso}}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

						</div> -->

					<!-- 	<div id="section2">
							<h1 class="section_title">Personas registradas</h1>
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Apellido</th>
											<th>Nombre</th>
											<th>Dni</th>
											<th>Fecha de pago</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Ape</td>
											<td>Nom</td>
											<td>1231294</td>
											<td>12/11/2020</td>
										</tr>
									</tbody>
								</table>
							</div>

							<p>NOTA: Si una persona no tiene marcada una fecha de pago es que aún no ha abonado</p>
						</div>

						<br>

						<div id="section3">
							<h1 class="section_title">Filtrar por fecha</h1> -->
						<!--	<form class="form-inline" action="#" method="post">	  --
								<label for="fecha_inicio_c" class="mr-sm-2">Fecha inicio</label>
								<input type="date" id="fecha_inicio_c" name="fecha_inicio_c" class="form-control mb-2 mr-sm-4" required>
								<br><br>
								<label for="fecha_final_c" class="mr-sm-2">Fecha final</label>
								<input type="date" id="fecha_final_c" name="fecha_final_c" class="form-control mb-2 mr-sm-4" required>
								<br>
								<button type="button" class="button confirmar">Filtrar</button>
						<--	</form> --
						</div>

					</div>
				</div>
			</div>
		</section> -->

	<!--	</section> -->


	<!--	<p><b>Cursos registrados</b></p>
		<table class="table table-bordered">
			<thead>
			  <tr>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Estado</th>
			  </tr>
			</thead>
		  <tr>
			<td>1</td>
			<td>ACTUALIZACIÓN EN DERECHOS DE NIÑXS, ADOLESCENTES Y FAMILIAS</td>
			<td>A</td>
		  </tr>
		</table>

		<br><br>

		<p><b>Personas registradas</b></p>
		<table class="table table-bordered">
			<thead>
			  <tr>
				<th>Apellido</th>
				<th>Nombre</th>
				<th>Dni</th>
				<th>Fecha de pago</th>
			  </tr>
			</thead>
		  <tr>
			<td>Ape</td>
			<td>Nom</td>
			<td>1231294</td>
			<td>12/11/2020</td>
		  </tr>
		</table>
		<p>NOTA: Si una persona no tiene marcada una fecha de pago es que aún no ha abonado</p>

		<p><strong>Filtrar por fecha</strong></p>
		<form class="form-inline" action="#" method="post">
			<label for="fecha_inicio_c" class="mr-sm-2">Fecha inicio</label>
			<input type="date" id="fecha_inicio_c" name="fecha_inicio_c" class="form-control mb-2 mr-sm-4" required>
			<br><br>
			<label for="fecha_final_c" class="mr-sm-2">Fecha final</label>
			<input type="date" id="fecha_final_c" name="fecha_final_c" class="form-control mb-2 mr-sm-4" required>
			<br>
			<button class="button confirmar">Filtrar</button>
		</form>  -->

<!--	<footer class="bd-footer py-5 mt-5 bg-dark">
		<div class="container py-5">
			<div class="row">
			<div class="col-lg-3 mb-3">
				<a class="d-inline-flex align-items-center mb-2 link-light text-decoration-none" aria-label="Bootstrap">
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="d-block me-2" viewBox="0 0 118 94" role="img"><title>FTyCA</title></svg>
				<span class="fs-5">Facultad de Tecnologia y Cs. Aplicadas - UNCA</span>
				</a>
				<ul class="list-unstyled small text-muted">
				<li class="mb-2">Designed and built with all the love in the world by the <a href="/docs/5.1/about/team/">Bootstrap team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</li>
				</ul>
			</div>


			<div class="col-6 col-lg-2 offset-lg-2 mb-3 link-light">
				<h5>Dirección</h5>
				<ul class="list-unstyled">
				<li class="m2-2 text-muted">Maximio Victoria 55 C.P. 4700 SFV de Catamarca</li>
				</ul>
			</div>
			<div class="col-6 col-lg-2 mb-3 link-light">
				<h5>Contacto</h5>
				<ul class="list-unstyled">
				<li class="mb-2 text-muted">Correo: saa@tecno.unca.edu.ar</li>
				<li class="mb-2 text-muted">Telefono: (54) 0383-4435112</li>
				</ul>
			</div>
			<div class="col-6 col-lg-2 mb-3 link-light">
				<h5>Sitios Asociados</h5>
				<ul class="list-unstyled">
				<li class="mb-2 text-muted" ><a href="https://tecno.unca.edu.ar/" class="nav-link p-0 text-muted">Facultad de Tecnologia</a></li>
				<li class="mb-2 text-muted"><a href="https://moodle2.tecno.unca.edu.ar/moodle/" class="nav-link p-0 text-muted">Aula Virtual</a></li>
				<li class="mb-2 text-muted"><a href="https://guarani.unca.edu.ar/acceso/login?ref=https://guarani.unca.edu.ar/examen" class="nav-link p-0 text-muted">Siu-Guaraní</a></li>
				</ul>
			</div>
			</div>
		</div>
    </footer>
	<-- Scripts --
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	</body> --
</html> -->