{% extends "base/base.html" %}
{% load static %}
{% block title %}Creación de curso{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilosIniciales.css' %}">
{% endblock %}

{% block header%}
<header>
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/logotipo.png' %}" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo">
    </div>
</header>
{% endblock %}

{% block contenido %}
<h1 class="card-title text-center text-dark">PROPOSICIÓN DE CURSOS</h1>
<div class="container p-4 mt-5 border">

			<h2>Complete la siguiente información</h2>
			<form class="form" method="post" id="formulario" onsubmit="return validador();">
				<div class="row">
					<div class="w-100"></div>
					<label class=" mr-sm-2"><b class="titulo-grupo">Datos indispensables</b></label>
					<div class="w-100"></div>

					<div class="col-md-12">
						<div class="form-floating mb-3 mr-sm-2  ml-sm-2">
							<input type="text" id="nombre_c" name="nombre_curso" class="form-control" required>
							<label for="nombre_c">Nombre:</label>
						</div>
					</div>
				</div>

				<div class="row">

					<label class="mr-sm-2"><b class="titulo-grupo">Fechas</b></label>
					<div class="w-100"></div>

					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input type="date" id="fecha_inic" name="fecha_ini_curso" class="form-control" required>
							<label for="fecha_inic">Inicio del curso:</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input type="date" id="fecha_fin" name="fecha_fin_curso" class="form-control" required>
							<label for="fecha_fin">Fin del curso:</label>
						</div>
					</div>
				</div>

				<div class="row">
					<label class="mr-sm-2"><b class="titulo-grupo">Información de la cursada</b></label>
					<div class="w-100"></div>

					<div class="col-12">
						<label for="objetivo_c" class="mr-sm-2">Objetivo general del curso:</label>
						<textarea id="objetivo_c" name="objetivo_general" class="form-control mb-2 mr-sm-4" rows="2"></textarea>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="modalidad_c" class="mr-sm-2">Modalidad:</label>

							<select class="form-control mb-2 mr-sm-4" id="modalidad_c" name="modalidad_curso" required>
									<option value="VIRTUAL">Virtual</option>
									<option value="PRESENCIAL">Presencial</option>
									<option value="MIXTA">Mixta</option>
							</select>

						</div>

					</div>
					<div class="col-md-4">
						<label for="duracion_c" class="mr-sm-2">Duracion:</label>
						<div class="input-group mb-3">
						  <input type="number" class="form-control" id="duracion_c" name="duracion_curso" aria-label="Recipient's username" aria-describedby="basic-addon2">
						  <span class="input-group-text" id="basic-addon2">hs</span>
						</div>

					</div>

					<!-- probar input de tipo texto y hacer parseFloat() -->
					<div class="col-md-4">
						<label for="costo_c" class="mr-sm-2">Costo:</label>
						<input type="text" id="costo_c" name="costo_curso" class="form-control" onkeypress="return ingresarFloat(event);">
					</div>


				<!-- Cantidades máximas y minimas-->
				<div class="row">
					<label class="mr-sm-2"><b class="titulo-grupo">Cantidad de alumnos</b></label>
					<div class="w-100"></div>
					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input type="number" id="cant_min_a" name="cant_minima_alumnos" class="form-control">
							<label for="cant_min_a">Minima:</label>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-floating mb-3">
							<input type="number" id="cant_max_a" name="cant_maxima_alumnos" class="form-control">
							<label for="cant_max_a">Máxima:</label>
						</div>
					</div>
				</div>

				<div class="row">

						<div class="col-6 abs-center">
							<button class="btn btn-success mb-2 mr-sm-4" type="submit">Confirmar</button>
							<!-- <button class="btn btn-success mb-2 mr-sm-4" type="submit" onclick="return validador();">Confirmar</button> -->
						</div>

						<div class="col-6 abs-center">
							<button class="btn btn-dark mb-2 mr-sm-4" type="reset" id="b_cancelar">Cancelar</button>
						</div>

					</div>
				</div>
				{% csrf_token %}
			</form>
</div>

<script src="{% static 'scripts/validador_de_curso.js' %}"></script>
<script src="{% static 'scripts/tecleo_valido_input.js' %}"></script>
{% endblock %}
