{% extends "base/base.html" %}
{% load static %}
{% block title %}Editar curso{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '../css/tabla.css' %">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilosIniciales.css' %}">
{% endblock %}

{% block header%}
<header>
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/logotipo.png' %}" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo">
    </div>
</header>
{% endblock %}

{% block contenido %}
<h1 class="card-title text-center text-dark">EDITAR CURSO</h1>
<div class="container p-4 mt-5 border">

			<h2>Complete la siguiente información</h2>
			<form class="form" method="post" id="formulario" onsubmit="return validador();">
				<div class="row">
					<div class="w-100"></div>

					<label class=" mr-sm-2"><b class="titulo-grupo">Datos indispensables</b></label>

					<div class="w-100"></div>

					<div class="col-md-4">
							{{ form.nombre_curso.errors }}
							<label for="{{ form.nombre_curso.id_for_label }}">Nombre:</label>
							{{ form.nombre_curso }}
					</div>
				</div>

				<div class="row">

					<label class="mr-sm-2"><b class="titulo-grupo">Fechas</b></label>
					<div class="w-100"></div>

					<div class="col-md-6">
							{{ form.fecha_ini_curso.errors }}
							<label for="{{ form.fecha_ini_curso.id_for_label }}">Inicio del curso:</label>
							{{ form.fecha_ini_curso }}
					</div>
					<div class="col-md-6">
							{{ form.fecha_fin_curso.errors }}
							<label for="{{ form.fecha_fin_curso.id_for_label }}">Fin del curso:</label>
							{{ form.fecha_fin_curso }}
					</div>
				</div>

				<div class="row">
					<label class="mr-sm-2"><b class="titulo-grupo">Información de la cursada</b></label>
					<div class="w-100"></div>

					<div class="col-12">
						{{ form.objetivo_general.errors }}
							<label class="mr-sm-2" for="{{form.objetivo_general.id_for_label}}">Objetivo general del curso:</label>
						{{ form.objetivo_general }}
					</div><br>
					<div class="col-md-4">
						<div class="form-group">
							{{ form.modalidad_curso.errors }}
							<label for="{{ form.modalidad_curso.id_for_label }}" class="mr-sm-2">Modalidad:</label>
							{{form.modalidad_curso}}
						</div>

					</div>
					<div class="col-md-4">
						{{ form.duracion_curso.errors }}
						<label for="{{ form.duracion_curso.id_for_label }}" class="mr-sm-2">Duracion:</label>
						{{ form.duracion_curso }}
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon2">hs</span>
						</div>

					</div>

					<!-- probar input de tipo texto y hacer parseFloat() -->
					<div class="col-md-4">
						{{ form.costo_curso.errors }}
						<label for="{{ form.costo_curso.id_for_label }}" class="mr-sm-2">Costo:</label>
						{{ form.costo_curso }}

					</div>



				<!-- Limite de alumnos -->
				<div class="row">
					<label class="mr-sm-2"><b class="titulo-grupo">Cantidad de alumnos</b></label>
					<div class="w-100"></div>
					<div class="col-md-6">
							{{ form.cant_minima_alumnos.errors }}
								<label for="{{ form.cant_minima_alumnos.id_for_label }}">Minima:</label>
							{{ form.cant_minima_alumnos }}
					</div>

					<div class="col-md-6">
							{{ form.cant_maxima_alumnos.errors }}
								<label for="{{ form.cant_maxima_alumnos.id_for_labels }}">Máxima:</label>
							{{ form.cant_maxima_alumnos }}
					</div>
				</div>
				<br>
				<div class="row">

						<div class="col-6 abs-center">
							<input type="submit" value="Actualizar">
						</div>

						<div class="col-6 abs-center">
							<button class="btn btn-dark mb-2 mr-sm-4" type="reset" id="b_cancelar">Cancelar</button>
						</div>

					</div>
				</div>
				{% csrf_token %}
			</form>
</div>

<script src="{% static 'scripts/validador_de_curso.js' %}"></script>
<script src="{% static 'scripts/tecleo_valido_input.js' %"></script>
{% endblock %}


