{% extends "base/base.html" %}
{% load static %}
{% block title %}Agregar docentes a curso{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilosIniciales.css' %}">
{% endblock %}

{% block header%}
<header>
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/logotipo.png' %}" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo">
    </div>
</header>
{% endblock %}

{% block contenido %}

  {% if messages %}
      {% for message in messages %}
			{% if message.tags == 'error' %}  <div class="message mt-1 mb-2 text-center bg-warning">{{ message }}</div>{% endif %}
			{% if message.tags == 'success' %}  <div class="message mt-1 mb-2 text-center bg-success">{{ message }}</div>{% endif %}
      {% endfor %}
  {% endif %}

<h2>Expositores del curso {{cursoC.cod_curso}}: {{cursoC.nombre_curso}}</h2>

<div class="card bg-info p-3" id="carta_p" name="carta_p">
	<div class="card-header abs-center bg-white"><b>DOCENTES REGISTRADOS</b></div>
		<div class="card-body bg-light">
			<div class="table-wrapper table-hover">
				<table class="table t2" id="tabla_profesores">
					<thead>
						<tr>
							<th>Apellido/s</th>
							<th>Nombre/s</th>
							<th>CUIL</th>
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody id="cuerpo_tabla_profe">
						{% for docente in docentes.all %}
						<tr>
							<td>{{docente.cuit_persona.apellido}}</td>
							<td>{{docente.cuit_persona.nombre}}</td>
							<td>{{docente.cuit_persona.cuit_persona}}</td>
							<td>
								<div class="col-md-4">
									<button type="button"><a href="{% url 'apps:escogerExpositores2' cursoC.cod_curso docente.cuit_persona.cuit_persona %}">AGREGAR</a></button>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
</div>



<h2>EXPOSITORES ESCOGIDOS</h2>
<table class="table" >
					<thead>
						<tr>
							<th>Apellido/s</th>
							<th>Nombre/s</th>
							<th>CUIL</th>
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody class="">
						{% for expositor in expositores %}
						<tr>
							<td>{{expositor.cuit_persona.apellido}}</td>
							<td>{{expositor.cuit_persona.nombre}}</td>
							<td>{{expositor.cuit_persona.cuit_persona}}</td>
							<td>
								<div class="col-md-4">
									<button type="button"><a href="{% url 'apps:escogerExpositores3' cursoC.cod_curso expositor.cuit_persona.cuit_persona %}">QUITAR</a></button>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>

				</table>

{% endblock %}

