{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Inicio de sesión</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">	
		<!-- css propios -->
		<!-- <link rel="stylesheet" type="text/css" href="../css/estilo_inicio_sesion.css"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/estilosIniciales.css' %}">
	</head>

	<body class="cuerpoLSG">
		<div class= "container my-5 w-75 bg-primary mt-5 rounded shadow">
			<div class="row align-items-stretch">
				<div  class="col bg  d-none d-lg-block  col-md-5 col-gl-5 col-xl-6 rounded">
					<img class="" src="{% static 'img/img_inicio_sesion.png' %}" alt="Imagen de presentación">
				</div>
				<div class="col bg-white p-5 rounded-end">
					<h2 class = "fw-bold text-center py-5"> Bienvenido</h2>
					<!-- Login -->
					<form action="#" method="POST" id="formularioIS" name="formularioIS">
						{% csrf_token %}
						<div class="mb-4">
							<label for="e-mail" class= "form-label">Correo Electrónico:</label>
							<input type="email" id ="e-mail" class= "form-control" name ="e-mail" required>
						</div>
						<div class="mb-4">
							<label for="contraseña" class= "form-label">Contraseña:</label>
							<input type="password" id= "contraseña" class= "form-control" name ="contraseña" required>
						</div>
						<div class="mb-4 form-check">
							<input type="checkbox" id= "connected" name= "connected" class= "form-check-input">
							<label for="connected" class= "form-check-label">Mantenerse conectado</label>
						</div>
						<div class="d-grid">
							<button type= "submit" class="btn btn-primary" onclick="enrutador();">Iniciar Sesión</button>
						</div>
						<div class="my-3">
							<span>No tienes una cuenta? <a href="#">Registrate</a></span> <span> ó </span> <br>
							<span><a href="#">Recupera tu Contraseña</a></span>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script>
			function enrutador(){
				let formulario = document.getElementById("formularioIS");
				let contra = document.getElementById("contraseña").value;
				//system.log.print(contra)
				if(contra == "admin"){
					formulario.action = "../../administracionDeCursos/";
				}
				else{
					if(contra == "admin1"){
						formulario.action = "../../inscripcion/";
					}
					else{
						formulario.action = "../";
					}
				}
			}
		</script>
		<!-- <script src="../js/enrutador.js"></script> -->
	</body>
</html>