{% extends "base/base.html" %}
{% load static %}
{% block title %}Resolución oficial{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
<link rel="stylesheet" href="{% static 'css/form_resolucion.css' %}">
{% endblock %}

{% block header %}
<header>
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/logotipo.png' %}" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo">
    </div>
</header>
{% endblock %}

{% block contenido %}

<section class="p-3">

			<form id="formulario" method="post" >
				{% csrf_token %}
				<fieldset class="fs_reg p-3" >

					<div class="container-fluid">
						<div class="col-md-12">
							<h2>Completa los campos</h2>
							<div class="mb-12">
								<label id="codigoLbl" name="codigoLbl">Codigo del curso: {{curso.cod_curso}}</label>
								<input type="number" id="cod_curso" name="cod_curso" class="form-control" value="{{curso.cod_curso}}" required disabled>

							</div>
							<div class="mb-12">
								<label id="nombreLbl" name="nombreLbl">Nombre del curso: {{curso.nombre_curso}}</label>

							</div>
							<div class="form-group">
								<label for="estado_curso">Estado (Aprobado/Desaprobado):</label>
								<select name="estado_curso" id="estado_curso">
									<option value="A">A</option>
									<option value="D">D</option>
								</select>
							</div>

							<button class="button confirmar" type="submit">Confirmar</button>
							<button type="reset" class="button cancelar">Cancelar</button>
						</div>

					</div>

				</fieldset>

			</form>
		</section>

{% endblock %}

