{% extends "base/base.html" %}
{% load static %}
{% block title %}Administración de cursos{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/estilo_inicio_sesion.css' %}">
{% endblock %}

{% block header %}

    <div id="imagenCabecera" class="card text-white">
      <!--<img src="../images/logotipo.png" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo"> -->
        <img src="{% static 'img/logotipo.png' %}" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo">
    </div>

{% endblock %}

{% block contenido %}

        <section class="p-2">

			<div class="card col-md-6 p-3">
				<div class="card-header abs-center bg-info">
					<h2>¿Qué desea hacer?</h2>
				</div>
				<div class="card-body p-0 py-1">
					<div class="col-md-12 bg-secondary">
						<a href="../create/" class="text-white">Crear un curso</a>
					</div>
					<div class="col-md-12 bg-info">
						<a href="./cursosDisponibles" class="text-white">Estados de los cursos</a>
					</div>
					<div class="col-md-12 bg-secondary">
						<a href="./estadisticas" class="text-white">Gestión de estadisticas</a>
					</div>
				<!--	<nav class="navbar bg-light">
						<ul class="navbar-nav">
							<li class="nav-item"><a href="./pag-crear-curso.html">Crear un curso</a></li>
							<li class="nav-item"><a href="#">Estados de los cursos</a></li>
							<li class="nav-item"><a href="./pag-estadistica.html">Listado de inscripciones</a></li>
						</ul>
					</nav>  -->
				</div>
			<!-- <div class="card-footer">Footer</div> -->
			</div>
        </section>
{% endblock %}

