{% extends "base/base.html" %}
{% load static %}
{% block title %}Cursos registrados{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}">
{% endblock %}

{% block header%}

    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/logotipo.png' %}" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo">
    </div>

{% endblock %}

{% block contenido %}
		<!--- --- --- --- --->
		{% if messages %}
      	{% for message in messages %}
			{% if message.tags == 'error' %}  <div class="message mt-1 mb-2 text-center bg-warning">{{ message }}</div>{% endif %}
			{% if message.tags == 'success' %}  <div class="message mt-1 mb-2 text-center bg-success">{{ message }}</div>{% endif %}
      {% endfor %}
  {% endif %}

		<h3 class="texto_centro">En está tabla se encuentran todos los cursos que han sido registrados, aprobados o desaprobados</h3>
		<div class="container-fluid p-3">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Estado</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					{% for curso in cursos %}
						<tr>
							<td>{{curso.cod_curso}}</td>
							<td>{{curso.nombre_curso}}</td>

							<td>{{curso.estado_curso}}</td>
							<td>
								<form action="{% url 'apps:curso_delete' %}" method="POST">
									{% csrf_token %}
									<div class="row">

										<div class="col-md-4">
										<!--	<input type="hidden" name="id_programa" value="{{ curso.id }}"> -->
											<button type="button" class="editar"><a href="{% url 'apps:curso_edit' curso.cod_curso %}">Editar</a></button>
											<!-- <button type="button" class="editar">Editar</button> -->
										</div>
										<div class="col-md-4">
											<input class="oculto" name="cod_curso" value="{{curso.cod_curso}}">
											<button type="submit" value="Eliminar" class="quitar" onclick="return confirm('¿Está seguro que desea eliminar el registro?');">Eliminar</button>
										</div>
										{% if perms.apps.add_resolucion %}
											<div class="col-md-4">
												<button type="button"><a href="{% url 'apps:create_resolucion' curso.cod_curso %}">Emitir Resolución</a></button>
											</div>
										{% endif %}
									</div>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

		<script scr="{% static 'scripts/tablaCursos.js' %}"></script>
{% endblock %}
