{% extends "base/base.html" %}
{% load static %}
{% block title %}Administración de cursos{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}">
{% endblock %}


{% block ContenidoScript %}
<script src="{% static 'scripts/recuperarPersonaCuil.js' %}"></script>
{% endblock %}


{% block header %}
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/imegenDeFondo.jpg' %}" class="card-img opacity-25" height="350" alt="imagenDeFondo">
        <div class="card-img-overlay">
        <br>
        <h1 class="card-title text-center"><strong> Administracion de Inscripcion</strong></h1>
        <br>
        <p class="card-text text-center fst-italic ">Corresponde a las Modificaciones y Bajas de las personas que se inscribieron a un curso.</p>
        </div>
    </div>
{% endblock %}

{% block contenido %}
        <section class="p-2">
			<br>
<!--			<div class="card col-md-12 p-3">-->
<!--				<div class="card-header abs-center bg-info">-->
<!--					<h2>¿Qué desea hacer?</h2>-->
<!--				</div>-->
<!--				<div class="card-body p-0 py-1">-->
<!--					<div class="col-md-12 bg-secondary">-->
<!--						<a href="" class="text-white">Inscribirse a un curso </a>-->
<!--					</div>-->
<!--					<div class="col-md-12 bg-info">-->
<!--						<a href="./cursosDisponibles" class="text-white">Modificar datos persona inscripta</a>-->
<!--					</div>-->
<!--					<div class="col-md-12 bg-secondary">-->
<!--						<a href="./resolucion" class="text-white">Dar de baja a un curso </a>-->
<!--					</div>-->
<!--					<div class="col-md-12 bg-info">-->
<!--						<a href="./pag-estadistica.html" class="text-white">Listado de inscripciones</a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

			<div>
				<h2 class="text-center">Modificar/Eliminar datos de todos los alumnos</h2>

				<div class="container-fluid p-3">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Cuil</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody id="contenidoCuil">
							{% for persona in personas.all %}
<!--								{% if persona.cuit_persona == '40652101' %}-->
<!--								{% endif %}-->
								<tr>
									<td>{{persona.cuit_persona}}</td>
									<td>{{persona.nombre}}</td>
									<td>{{persona.apellido}}</td>
									<td>
										<form method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<div class="row">
												<div class="col-md-6">
													<button type="button" class="Modificar"><a href="{% url 'apps:editarInscripcion' persona.cuit_persona %}">Modificar</a></button>
												</div>
												<div class="col-md-6">
													<button type="button" class="Eliminar"><a href="{% url 'apps:eliminarInscripcion' persona.cuit_persona%}">Eliminar</a></button>
												</div>
											</div>
										</form>
									</td>
								</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>

        </section>
{% endblock %}
