{% extends "base/base.html" %}
{% load static %}
{% block title %}Recibo de pago{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
{% endblock %}


{% block header %}
    <header>
        <div id="imagenCabecera" class="card text-white">
            <!-- <img src="../images/imegenDeFondo.jpg" class="card-img opacity-25" height="350" alt="imagenDeFondo"> -->
            <img src="{% static 'img/imegenDeFondo.jpg' %}" class="card-img opacity-25" height="350" alt="imagenDeFondo">
            <div class="card-img-overlay">
            <br>
            <h1 class="card-title text-center"><strong> Ticket de Pago </strong></h1>
            <br>
<!--            <p class="card-text text-center fst-italic "></p>-->
            </div>
        </div>
    </header>
{% endblock %}

{% block contenido %}
    <section>

        <br><br>
        <div class="container">
          <div class="row">
            <div class="col">
            </div>
            <div class="col-7">
                 <fieldset class= "col gx-2 gy-2  ms-5 me-5 border border-2 border-secondary">
                    <legend class="text-center">Ticket - GCP</legend>
                     {% for recibo in recibo %}
                        <div class="col-md-12">
                            <label class="form-label row justify-content-end me-5">N° recibo: {{recibo.nro_recibo}}</label>
                            <label class="form-label row justify-content-end me-5">Fecha de pago: {{recibo.fecha_pago | date:"d/m/Y"}}</label>
                            <label class="form-label ms-5">Forma de Pago: {{recibo.forma_pago}}</label><br>
                            <label class="form-label ms-5">Curso asociado: {{recibo.cod_curso}}</label><br>
                            <label class="form-label ms-5">Persona asociada: {{recibo.cuit_persona}}</label><br>
    <!--                        <label class="form-label ms-5">Importe total: {{recibo.importe_pago}}</label><br>-->
                            <input disabled type="text"  class= "form-control text-center" id="codigoPago" value = "Importe total : {{recibo.importe_pago}}">
                            <br><br>
                        </div>
                     {% endfor %}
                </fieldset>
            </div>
            <div class="col">
            </div>
          </div>
        </div>


    </section>
{% endblock %}