{% extends "base/base.html" %}
{% load static %}
{% block title %} Dar de baja {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
{% endblock %}

{% block header %}
<header>
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/imegenDeFondo.jpg' %}" class="card-img opacity-25" height="350" alt="imagenDeFondo">
        <div class="card-img-overlay">
        <br>
        <h1 class="card-title text-center"><strong>Dar de Baja</strong></h1>
        <br>
        <p class="card-text text-center fst-italic "></p>
        </div>
    </div>
</header>
{% endblock %}


{% block contenido %}

<section>
    <br><br>
    <form method="post" enctype="multipart/form-data">
        <fieldset class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">
            <h2 class="text-center">¿Esta seguro de "Darse de Baja" en el curso?</h2>
            <p></p>
            <input type="submit" class= "btn btn-outline-danger " value = "Sí, eliminar" >
            <br>
            <input type="button" class= "btn btn-outline-primary"  value = "Cancelar" onclick="location.href='{% url 'apps:index' %}'">
            <p></p>
        </fieldset>
        {% csrf_token %}
    </form>
</section>
{% endblock %}
