{% extends "base/base.html" %}
{% load static %}
{% block title %}Detalle{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
<link rel="stylesheet" href="{% static 'css/notificacion.css' %}">
{% endblock %}


{% block header %}
<header>
    <div id="imagenCabecera" class="card text-white">
        <!-- <img src="../images/imegenDeFondo.jpg" class="card-img opacity-25" height="350" alt="imagenDeFondo"> -->
        <img src="{% static 'img/imegenDeFondo.jpg' %}" class="card-img opacity-25" height="350" alt="imagenDeFondo">
        <div class="card-img-overlay">
        <br>
        <h1 class="card-title text-center"><strong> Información Detallada del Curso </strong></h1>
        <br>
        <p class="card-text text-center fst-italic ">Se mostrará información sobre los objetivos generales y semanales, además de datos importantes a tener en cuenta para poder inscribirse al curso como ser: las fechas de inicio y de fin, cantidades minimas y maximas de alumnos, modalidad, duración total, y el costo a abonar.</p>
        </div>
    </div>
</header>
{% endblock %}


{% block contenido %}
    <nav id="barraDeNavegacion" class="navbar navbar-expand-md navbar-dark border-3 border-bottom border-primary">
        <div class= "container-fluid">
            <button type = "button" class = "navbar-toggler" data-bs-toggle = "collapse" data-bs-target = "#MenuNavegacion">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div id = "MenuNavegacion" class= "collapse navbar-collapse">
                <ul class = "navbar-nav ms-3">
                    {% if personaRegistrada < 1 %}
                        <li class="nav-item"><a class= "nav-link" href="{% url 'apps:nuevaInscripcion' curso.cod_curso %}" target="_parent">Registrar datos usuario</a></li>
                    {% endif %}
                    <li><br></li>
                  </ul>
                  <ul class = "navbar-nav ms-3 position-absolute top-50 end-0 translate-middle">
                    {% for persona in persona.all %}
                        {% for curPer in cursoPersona.all %}
                            {% if curPer.cuit_persona_id == persona.cuit_persona %}
                                {% if curPer.cod_curso_id == curso.cod_curso %}
                                    {% if curPer.estado_de_pago == False %}
                                      <li>
                                          <a class = "nav-link text-nowrap" href= "{% url 'apps:abonarCurso' curso.cod_curso %}" target="_parent">Abonar Curso</a>
                                      </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                      <li class = "nav-item">
                          {% for persona in persona.all %}
                                <a class = "nav-link text-nowrap" href= "{% url 'apps:editarInscripcion' persona.cuit_persona %}" target="_parent">Datos personales</a>
                          {% endfor %}
                      </li>
                  </ul>
            </div>
        </div>
    </nav>



<section>
<!--    <div class="">-->
<!--        {% for persona in persona.all %}-->
<!--            <button type="button" class="Modificar"><a href="{% url 'apps:editarInscripcion' persona.cuit_persona %}">Datos personales</a></button>-->
<!--        {% endfor %}-->
<!--    </div>-->

    <div class = "container">
        <div class="row justify-content-start">
            <div class="col-8">
                <br>
                <h2>{{curso.nombre_curso}}</h2>
                <p><strong>Objetivos Generales del curso: </strong></p>
                <!-- Información irrelevante para visualizar -->
                <p>{{curso.objetivo_general}}</p>
                <!--<p>(Informacion irrelevante de referencia)At W3Schools you will find complete references about HTML elements, attributes, events, color names, entities, character-sets, URL encoding, language codes, HTTP messages, browser support, and more.</p> -->
                <br>

<!--                <div class="accordion" id="accordionExample">-->
<!--                    <div class="accordion-item">-->
<!--                      <h2 class="accordion-header" id="headingOne">-->
<!--                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--                          Mas Información-->
<!--                        </button>-->
<!--                      </h2>-->
<!--                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">-->
<!--                        <div class="accordion-body">-->
<!--                            <h3>Obejetivos y Contenidos de la semana N° {{semana.nro_semana}}</h3>-->
<!--                            <p><strong>Objetivos de la semana: </strong></p>-->
<!--                            <p>{{semana.objetivo_semanal}}</p>-->
<!--                            <p><strong>Contenidos Asociados:</strong></p>-->
<!--                            <p>{{semana.contenido_semanal}}</p>-->
<!--                            &lt;!&ndash;<ul>-->
<!--                                <li>HTML</li>-->
<!--                                <li>CSS</li>-->
<!--                                <li>Tema3</li>-->
<!--                            </ul>&ndash;&gt;-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                </div>-->
                <br>
            </div>

            <div class="col-4">
                <br>
                <h2>Información Importante</h2>
                <ul>
                    <li><strong>Duración:</strong> {{curso.duracion_curso}}</li>
                    <li><strong>Modalidad:</strong> {{curso.modalidad_curso}} </li>
                    <li><strong> de incio:</strong> {{curso.fecha_ini_curso | date:"d/m/Y" }}</li>
                    <li><strong>Fecha de fin:</strong> {{curso.fecha_fin_curso | date:"d/m/Y" }}</li>
                    <li><strong>Cantidad Maxima de Alumnos:</strong> {{curso.cant_maxima_alumnos}}</li>
                    <li><strong>Cantidad Minima de Alumnos:</strong> {{curso.cant_minima_alumnos}}</li>
                    <li><strong>Costo/Precio:</strong> {{curso.costo_curso}}</li>
                    <li><strong>Estado del Curso:</strong> {% if curso.estado_curso == 'A' %}
                                        APROBADO
                                    {% else %}
                                        {% if cursos.estado_curso == 'P' %}
                                            PENDIENTE
                                        {% else %}
                                            DESAPROBADO
                                        {% endif %}
                                    {% endif %}
                    </li>
                </ul>
                <div>
                    <p> <strong> Nota </strong>:  Si el cumple especificamente con las condiciones de Fecha, Cant. max de alumnos y el Estado del curso podrá inscribirse al curso.</p>
<!--                    <input type="button" class="btn btn-outline-primary" value = "Inscribirse al curso" onclick="location.href='{% url 'apps:nuevaInscripcion' curso.cod_curso %}'">-->


                    <form method="post" enctype="multipart/form-data">
                        {% for persona in persona.all %}
                            <input type="text"  name="cuit_persona" value="{{persona.cuit_persona}}" style="display: none;">
                        {% endfor %}
                        <input type="text"  name="cod_curso" value="{{curso.cod_curso}}"  style="display: none;" >


                        {% if totalInscriptos < curso.cant_maxima_alumnos %}
                            <p><strong>Total de inscriptos hasta el momento:</strong> {{totalInscriptos}}</p>
                            <input type="submit" class="btn btn-outline-primary" value = "Inscribirse al Curso">
                        {% else %}
                            <p style="color:red;">El curso no tiene cupos disponibles.</p>
                        {% endif %}

                        {% csrf_token %}
                    </form>


                    <br><br>
                </div>

                {% for persona in persona.all %}
                    {% for curPer in cursoPersona.all %}
                        {% if curPer.cuit_persona_id == persona.cuit_persona %}
                            {% if curPer.cod_curso_id == curso.cod_curso %}
                                <div>
                                        <fieldset id = "avisoInscripcion" class= "row border border-1 border-primary">
                                            <p class="my-0"><strong>Nombre y Apellido:</strong>  {{persona.nombre}} {{persona.apellido}} </p>
                                            <p class="my-0"><strong>fecha que se inscribió:</strong>  {{curPer.fecha_inscripcion}} </p>
                                            <div class="d-grid gap-0 d-md-flex justify-content-md-end">
                                                <input type="button" class="btn btn-outline-danger btn-sm  my-2" value = "Dar de baja" onclick="location.href='{% url 'apps:darDeBajaCursoPersona' curPer.nro_registro %}'">
                                                <br>
                                            </div>
                                        </fieldset>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
          </div>
    </div>
</section>
{% endblock %}
