{% extends "base/base.html" %}
{% load static %}
{% block title %}Gestión de Cursos de Posgrado{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
<link rel="stylesheet" href="{% static 'css/notificacion.css' %}">
{% endblock %}

{% block header%}
<header>
    <div id="imagenCabecera" class="card text-white">
      <!--<img src="../images/logotipo.png" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo"> -->
        <img src="{% static 'img/logotipo.png' %}" class="card-img opacity-75  w-50 rounded mx-auto d-block " alt="imagenDeFondo">
    </div>
</header>
{% endblock %}


{% block contenido %}
<!--    <nav id="barraDeNavegacion" class="navbar navbar-expand-md navbar-dark border-3 border-bottom border-primary">-->
<!--        <div class= "container-fluid">-->
<!--            <button type = "button" class = "navbar-toggler" data-bs-toggle = "collapse" data-bs-target = "#MenuNavegacion">-->
<!--                <span class = "navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div id = "MenuNavegacion" class= "collapse navbar-collapse">-->
<!--                <ul class = "navbar-nav ms-3">-->
<!--                    {% if personaRegistrada < 1 %}-->
<!--                        <li class="nav-item"><a class= "nav-link" href="{% url 'apps:nuevaInscripcion' curso.cod_curso %}" target="_parent">Registrar datos usuario</a></li>-->
<!--                    {% endif %}-->
<!--                    <li><br></li>-->
<!--                  </ul>-->
<!--                  <ul class = "navbar-nav ms-3 position-absolute top-50 end-0 translate-middle">-->
<!--                      <li class = "nav-item">-->
<!--                          {% for persona in persona.all %}-->
<!--                                <a class = "nav-link text-nowrap" href= "{% url 'apps:editarInscripcion' persona.cuit_persona %}" target="_parent">Datos personales</a>-->
<!--                          {% endfor %}-->
<!--                      </li>-->
<!--                  </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->



<section>
    {% if messages %}
        <br>
        <fieldset id = "avisoABM" class= "ms-3 me-3 border border-1 border-primary">
            <br>
            {% for message in messages %}
                {% if message.tags == 'success' %}  <div class="message text-center" role="status"> <strong>{{ message }}</strong></div>{% endif %}
                {% if message.tags == 'get_messages' %} <div class="message text-center" role="status"> <strong>{{ message }}</strong></div>{% endif %}
                {% if message.tags == 'error' %}  <div class="errors text-center" role="alert"><strong>{{ message }}</strong></div>{% endif %}
            {% endfor %}
            <br>
        </fieldset>
    {% endif %}

    <div>
        <br>
        <h2 class= "ms-2">Cursos Disponibles:</h2>
<!--        <form class="d-flex">-->
<!--          <input class="form-control me-2 ms-2" type="search" placeholder="Buscar Curso" aria-label="Search">-->
<!--          <button id = "btnBuscar" class="btn btn-outline-primary me-2" type="submit" onclick="cargarNav();">Buscar</button>-->
<!--        </form>-->

        <br>
    </div>
    <div>
        {% for cursos in curso.all %}
            {% if cursos.estado_curso == 'A' %}
            <fieldset class = "ms-3 me-3 border border-2 border-secondary">

                    <h3>{{cursos.nombre_curso}}</h3>
                    <ul>
                        <li>Estado del curso: {% if cursos.estado_curso == 'A' %}
                                                APROBADO
                                            {% else %}
                                                {% if cursos.estado_curso == 'P' %}
                                                    PENDIENTE
                                                {% else %}
                                                    DESAPROBADO
                                                {% endif %}
                                            {% endif %}
                        </li>
                        <li>Fecha de inicio: {{cursos.fecha_ini_curso | date:"d/m/Y" }} </li>
                        <li>Fecha de fin: {{cursos.fecha_fin_curso | date:"d/m/Y" | default_if_none:"SIN DEFINIR" }}</li>
                        <li>Modalidad: {{cursos.modalidad_curso}}</li>
                        <li>Costo del curso: ${{cursos.costo_curso}}</li>
                    </ul>
                    {% if user.is_authenticated %}
                    <a href="{% url 'apps:inscribirPersonsaCurso' cursos.cod_curso %}">Ver Información Detallada</a>
                    {% endif %}
                    <br>
            </fieldset>
            <br>
            {% endif %}
        {% endfor %}

    </div>
</section>
{% endblock %}

