{% extends "base/base.html" %}
{% load static %}
{% block title %} Inscripción {% endblock %}



{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
<link rel="stylesheet" href="{% static 'css/notificacion.css' %}">
{% endblock %}



{% block ContenidoScript %}
<script src="{% static 'scripts/motrar_ocultar_datos_form.js' %}"></script>
<script src="{% static 'scripts/tecleo_valido_input.js' %}"></script>
{% endblock %}

{% block header %}
<header>
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/imegenDeFondo.jpg' %}" class="card-img opacity-25" height="350" alt="imagenDeFondo">
        <div class="card-img-overlay">
        <br>
        <h1 class="card-title text-center"><strong> Formulario de Inscripción</strong></h1>
        <br>
        <p class="card-text text-center fst-italic ">Se solicita una secuencia de datos para registrar a la persona.</p>
        </div>
    </div>
</header>
{% endblock %}


{% block contenido %}

<section>
    <br>
    {% if messages %}
        <br>
        <fieldset id = "avisoABM" class= "ms-3 me-3 border border-1 border-primary">
            <br>
            {% for message in messages %}
                {% if message.tags == 'success' %}  <div class="message text-center" role="status"> <strong>{{ message }}</strong></div>{% endif %}
                {% if message.tags == 'get_messages' %} <div class="message text-center" role="status"> <strong>{{ message }}</strong></div>{% endif %}
                {% if message.tags == 'error' %}  <div class="errors text-center" role="alert"><strong>{{ message }}</strong></div>{% endif %}
            {% endfor %}
            <br>
        </fieldset>
        <br>
        <p class="ms-3"><strong> Si quiere registrarse como docente debe de hacer click en el siguiente boton.</strong></p>
        <input type="button" class= "btn btn-outline-primary ms-3" value = "Registrar" onclick="location.href='{% url 'apps:registroDocenteAlumno' %}'">
        <input type="button" class= "btn btn-outline-primary ms-3" value = "No soy docente" onclick="location.href='{% url 'apps:index' %}'">
        <br>
   {% endif %}
    <br>
    <h2 class = "ms-3">Complete los siguientes datos:</h2> <br>

        <form class="needs-validation" novalidate method="post">
<!--    <form class="needs-validation" novalidate action="" method="POST" enctype="multipart/form-data">-->
        <fieldset class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">
            <legend>Datos de la persona</legend>

            <div class="col-md-4">
                <label for="cuil" class="form-label">Cuil:</label>
                <input type="text" class="form-control" id="cuil" name="cuit_persona" placeholder="40654321" onkeypress="return ingresarCuil(event);" required>
            </div>

            <div class="col-md-4">
                <label for="nombres" class="form-label">Nombre/s:</label>
                <input type="text" class="form-control" id="nombres" name="nombre" placeholder="Pedro" onkeypress="return ingresarSoloLetras(event);" required>
            </div>

            <div class="col-md-4">
                <label for="apellidos" class="form-label">Apellido/s:</label>
                <input type="text" class="form-control" id="apellidos" name="apellido" placeholder="Paez" onkeypress="return ingresarSoloLetras(event);" required>
            </div>

            <div class="col-md-4">
                <label for="tipoSexo" class="form-label">Sexo:</label>
                <select class="form-select" id="tipoSexo" name="sexo_persona" required>
                  <option selected disabled value="">Seleccione</option>
                  <option value="M" >Masculino</option>
                  <option value="F">Femenino</option>
                </select>
                <div class="invalid-feedback">
                    * Oligatorio
                </div>
              </div>

              <div class="col-md-4">
                <label for="fechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                <input type="date" class="form-control" id="fechaNacimiento" name="fecha_nac_persona" required>
            </div>

            <div class="col-md-4">
                <label for="estadoCivil" class="form-label">Estado civil:</label>
                <select class="form-select" id="estadoCivil"  name="estado_civil" required>
                  <option selected disabled value="">Seleccione</option>
                  <option value="SOLTERO" >Soltero</option>
                  <option value="CASADO">Casado</option>
                  <option value="VIUDO">Viudo</option>
                  <option value="DIVORCIADO">Divorciado</option>
                </select>
                <div class="invalid-feedback">
                    * Oligatorio
                </div>
              </div>
              <div><br></div>
        </fieldset>

        <br>

        <fieldset  class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">
            <legend>Domicilio</legend>

            <div class="col-md-10">
                <label for="calle" class="form-label">Calle:</label>
                <input type="text" class="form-control" id="calle" placeholder="Av. Maximo Victoria" name="dom_calle" required>
            </div>

            <div class="col-md-2">
                <label for="numeroCasa" class="form-label">Número:</label>
                <input type="text" class="form-control" id="numeroCasa" name="dom_nro_calle" placeholder="604" onkeypress="return ingresarSoloNumeros(event);" required>
            </div>

            <div class="col-md-4">
                <label for="localidad" class="form-label">Localidad:</label>
                <select class="form-select" id="localidad"  name="dom_cod_localidad" required>
                  <option selected disabled value="">Seleccione</option>
                    {% for localidad in localidad.all %}
                        <option value="{{localidad.dom_cod_localidad}}" >{{localidad.dom_descrip_localidad}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    * Oligatorio
                </div>
<!--                <input type="text" class="form-control" id="localidad" name="dom_cod_localidad" placeholder="San Fernando del Valle de Catamarca" onkeypress="return ingresarSoloLetras(event);" required>-->
            </div>
            <div class="col-md-4">
                <label for="departamento" class="form-label">Departamento:</label>
                <input type="text" class="form-control" id="departamento" name="departamento" placeholder="Capital" onkeypress="return ingresarSoloLetras(event);"  required>
            </div>

            <div class="col-md-4">
                <label for="provincia" class="form-label">Provincia:</label>
                <select class="form-select" id="provincia"  name="dom_cod_provincia" required>
                  <option selected disabled value="">Seleccione</option>
                    {% for provincia in provincia.all %}
                        <option value="{{provincia.dom_cod_provincia}}" >{{provincia.dom_descrip_provincia}}</option>
                    {% endfor %}
                </select>
<!--                <input type="text" class="form-control" id="provincia" name="dom_cod_provincia" placeholder="Catamarca" onkeypress="return ingresarSoloLetras(event);" required>-->
            </div>
            <div><br></div>
        </fieldset>

        <br>

        <fieldset  class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">
            <legend>Datos de contacto</legend>

            <div class="col-md-6">
                <label for="telefonoParticular" class="form-label">Telefono Particular:</label>
                <input type="text" class="form-control" id="telefonoParticular" name="telefono" placeholder="0383 443-5112" >
            </div>
            <div class="col-md-6">
                <label for="correoElectronico" class="form-label">Correo Electronico:</label>
                <input type="Email" class="form-control" id="correoElectronico" name="correo_electronico" placeholder="Ejemplo@gmail.com" >
            </div>

            <div><br></div>
        </fieldset>


<!--        <br>-->
<!--        <label class = "ms-3" for="tipoCategoria"  onclick="OcultarMostrarDatosDelDocente();">Seleccione la categoría:  </label>-->
<!--        <input type="radio" id="tipoCategoria" name="tipoCategoria" value="alumno" checked="checked" onclick="OcultarMostrarDatosDelDocente();"> Alumno &nbsp;&nbsp;-->
<!--        <input type="radio" name="tipoCategoria" value="docente" onclick="OcultarMostrarDatosDelDocente();"> Docente &nbsp;&nbsp;-->

<!--        <br><br>-->

<!--        <fieldset id= "datosDocente" class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">-->

<!--            <div class="col-md-8">-->
<!--                <label for="fechaInicioAlTrabajo" class="form-label">Fecha de Inicio al trabajo:</label>-->
<!--                <input type="date" class="form-control" id="fechaInicioAlTrabajo" name="fecha_ingreso">-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <label for="curriculumVitae" class="form-label">Ingrese un curriculum vitae</label>-->
<!--                <input type="file" class="form-control" id="curriculumVitae" name="curriculum" >-->
<!--            </div>-->
<!--            <div><br></div>-->
<!--        </fieldset>-->
        <br>

        <input type="submit" class= "btn btn-outline-primary ms-3" value = "Guardar" onclick="validarDatos();">
        <input type="reset" class= "btn btn-outline-primary" value = "Cancelar">
<!--        <input type="number"  value="" name="User">-->
            {{form.User}}
        {% csrf_token %}
    </form>
</section>
{% endblock %}
