{% extends "base/base.html" %}
{% load static %}
{% block title %} Eliminar {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
{% endblock %}

{% block ContenidoScript %}
<script src="{% static 'scripts/motrar_ocultar_datos_form.js' %}"></script>
<script src="{% static 'scripts/tecleo_valido_input.js' %}"></script>
{% endblock %}

{% block header %}
<header>
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/imegenDeFondo.jpg' %}" class="card-img opacity-25" height="350" alt="imagenDeFondo">
        <div class="card-img-overlay">
        <br>
        <h1 class="card-title text-center"><strong>Editar datos personales</strong></h1>
        <br>
        <p class="card-text text-center fst-italic "></p>
        </div>
    </div>
</header>
{% endblock %}


{% block contenido %}

<section>
    <h2 class = "ms-3">Complete los siguientes datos:</h2> <br>

        <form class="needs-validation" novalidate method="post">
<!--    <form class="needs-validation" novalidate action="" method="POST" enctype="multipart/form-data">-->
        <fieldset class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">
            <legend>Datos de la persona</legend>

            <div class="col-md-4">
                {{ form.cuit_persona.errors }}
                <label for="{{ form.cuit_persona.id_for_label}}" class="form-label">Cuil:</label>
                {{ form.cuit_persona }}
            </div>
            <div class="col-md-4">
                {{ form.nombre.errors }}
                <label for="{{ form.nombre.id_for_label}}"class="form-label">Nombre/s:</label>
                {{ form.nombre }}
<!--                <label for="nombres" class="form-label">Nombre/s:</label>-->
<!--                <input type="text" class="form-control" id="nombres" name="nombre" placeholder="Pedro" onkeypress="return ingresarSoloLetras(event);" required>-->
            </div>

            <div class="col-md-4">
                {{ form.apellido.errors }}
                <label for="{{ form.apellido.id_for_label}}"class="form-label">Nombre/s:</label>
                {{ form.apellido }}
<!--                <label for="apellidos" class="form-label">Apellido/s:</label>-->
<!--                <input type="text" class="form-control" id="apellidos" name="apellido" placeholder="Paez" onkeypress="return ingresarSoloLetras(event);" required>-->
            </div>

            <div class="col-md-4">
                {{ form.sexo_persona.errors }}
                <label for="{{ form.sexo_persona.id_for_label}}" class="form-label">Sexo:</label>
                {{ form.sexo_persona }}
<!--                <label for="tipoSexo" class="form-label">Sexo:</label>-->
<!--                <select class="form-select" id="tipoSexo" name="sexo_persona" required>-->
<!--                  <option selected disabled value="">Seleccione</option>-->
<!--                  <option value="M" >Masculino</option>-->
<!--                  <option value="F">Femenino</option>-->
<!--                </select>-->
<!--                <div class="invalid-feedback">-->
<!--                    * Oligatorio-->
<!--                </div>-->
              </div>

              <div class="col-md-4">
                  {{ form.fecha_nac_persona.errors }}
                  <label for="{{ form.fecha_nac_persona.id_for_label}}" class="form-label">Fecha de nacimiento:</label>
                  {{ form.fecha_nac_persona }}
<!--                <label for="fechaNacimiento" class="form-label">Fecha de nacimiento:</label>-->
<!--                <input type="date" class="form-control" id="fechaNacimiento" name="fecha_nac_persona" required>-->
            </div>

            <div class="col-md-4">
                {{ form.estado_civil.errors }}
                    <label for="{{ form.estado_civil.id_for_label}}" class="form-label">Estado civil:</label>
                {{ form.estado_civil }}

<!--                <label for="estadoCivil" class="form-label">Estado civil:</label>-->
<!--                <select class="form-select" id="estadoCivil"  name="estado_civil" >-->
<!--                  <option selected disabled value="">Seleccione</option>-->
<!--                  <option value="SOLTERO" >Soltero</option>-->
<!--                  <option value="CASADO">Casado</option>-->
<!--                  <option value="VIUDO">Viudo</option>-->
<!--                  <option value="DIVORCIADO">Divorciado</option>-->
<!--                </select>-->
<!--                <div class="invalid-feedback">-->
<!--                    * Oligatorio-->
<!--                </div>-->
              </div>
              <div><br></div>
        </fieldset>

        <br>

        <fieldset  class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">
            <legend>Domicilio</legend>

            <div class="col-md-10">
                {{ form.dom_calle.errors }}
                    <label for="{{ form.dom_calle.id_for_label}}" class="form-label">Calle:</label>
                {{ form.dom_calle }}
<!--                <label for="calle" class="form-label">Calle:</label>-->
<!--                <input type="text" class="form-control" id="calle" placeholder="Av. Maximo Victoria" name="dom_calle" required>-->
            </div>

            <div class="col-md-2">
                {{ form.dom_nro_calle.errors }}
                <label for="{{ form.dom_nro_calle.id_for_label}}" class="form-label">Número:</label>
                {{ form.dom_nro_calle }}
<!--                <label for="numeroCasa" class="form-label">Número:</label>-->
<!--                <input type="text" class="form-control" id="numeroCasa" name="dom_nro_calle" placeholder="604" onkeypress="return ingresarSoloNumeros(event);" required>-->
            </div>

            <div class="col-md-4">
                {{ form.dom_cod_localidad.errors }}
                    <label for="{{ form.dom_cod_localidad.id_for_label}}" class="form-label">Localidad:</label>
                {{ form.dom_cod_localidad }}
<!--                <label for="localidad" class="form-label">Localidad:</label>-->
<!--                <select class="form-select" id="localidad"  name="dom_cod_localidad" required>-->
<!--                  <option selected disabled value="">Seleccione</option>-->
<!--                    {% for localidad in localidad.all %}-->
<!--                        <option value="{{localidad.dom_cod_localidad}}" >{{localidad.dom_descrip_localidad}}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--                <div class="invalid-feedback">-->
<!--                    * Oligatorio-->
<!--                </div>-->
<!--                <input type="text" class="form-control" id="localidad" name="dom_cod_localidad" placeholder="San Fernando del Valle de Catamarca" onkeypress="return ingresarSoloLetras(event);" required>-->
            </div>
            <div class="col-md-4">
                {{ form.departamento.errors }}
                    <label for="{{ form.departamento.id_for_label}}" class="form-label">Departamento:</label>
                {{ form.departamento }}
<!--                <label for="departamento" class="form-label">Departamento:</label>-->
<!--                <input type="text" class="form-control" id="departamento" name="departamento" placeholder="Capital" onkeypress="return ingresarSoloLetras(event);"  >-->
            </div>

            <div class="col-md-4">
                {{ form.dom_cod_provincia.errors }}
                    <label for="{{ form.dom_cod_provincia.id_for_label}}" class="form-label">Provincia:</label>
                {{ form.dom_cod_provincia }}
<!--                <label for="provincia" class="form-label">Provincia:</label>-->
<!--                <select class="form-select" id="provincia"  name="dom_cod_provincia" required>-->
<!--                  <option selected disabled value="">Seleccione</option>-->
<!--                    {% for provincia in provincia.all %}-->
<!--                        <option value="{{provincia.dom_cod_provincia}}" >{{provincia.dom_descrip_provincia}}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--                <input type="text" class="form-control" id="provincia" name="dom_cod_provincia" placeholder="Catamarca" onkeypress="return ingresarSoloLetras(event);" required>-->
            </div>
            <div><br></div>
        </fieldset>

        <br>

        <fieldset  class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">
            <legend>Datos de contacto</legend>

            <div class="col-md-6">
                {{ form.telefono.errors }}
                    <label for="{{ form.telefono.id_for_label}}" class="form-label">Telefono Particular:</label>
                {{ form.telefono }}
<!--                <label for="telefonoParticular" class="form-label">Telefono Particular:</label>-->
<!--                <input type="text" class="form-control" id="telefonoParticular" name="telefono" placeholder="0383 443-5112" >-->
            </div>
            <div class="col-md-6">
                {{ form.correo_electronico.errors }}
                    <label for="{{ form.correo_electronico.id_for_label}}" class="form-label">Correo Electronico:</label>
                {{ form.correo_electronico }}
<!--                <label for="correoElectronico" class="form-label">Correo Electronico:</label>-->
<!--                <input type="Email" class="form-control" id="correoElectronico" name="correo_electronico" placeholder="Ejemplo@gmail.com" >-->
            </div>

            <div><br></div>
        </fieldset>

<!--        <br>-->
<!--        <label class = "ms-3" for="tipoCategoria"  onclick="OcultarMostrarDatosDelDocente();">Seleccione la categoría:  </label>-->
<!--        <input type="radio" id="tipoCategoria" name="tipoCategoria" value="alumno" checked="checked" onclick="OcultarMostrarDatosDelDocente();"> Alumno &nbsp;&nbsp;-->
<!--        <input type="radio" name="tipoCategoria" value="docente" onclick="OcultarMostrarDatosDelDocente();"> Docente &nbsp;&nbsp;-->

<!--        <br><br>-->

<!--        <fieldset id= "datosDocente" class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">-->

<!--            <div class="col-md-8">-->
<!--                <label for="fechaInicioAlTrabajo" class="form-label">Fecha de Inicio al trabajo:</label>-->
<!--                <input type="date" class="form-control" id="fechaInicioAlTrabajo" name="fecha_ingreso">-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <label for="curriculumVitae" class="form-label">Ingrese un curriculum vitae</label>-->
<!--                <input type="file" class="form-control" id="curriculumVitae" name="curriculum" >-->
<!--            </div>-->
<!--            <div><br></div>-->
<!--        </fieldset>-->
        <br>

        <input type="submit" class= "btn btn-outline-primary ms-3" value = "Modificar" onclick="validarDatos();">
        <input type="button" class= "btn btn-outline-primary"  value = "Cancelar" onclick="location.href='{% url 'apps:administracionInscripcion' %}'">

        <input type="number" style="display: none" >

        {% csrf_token %}
    </form>
</section>
{% endblock %}
