{% extends "base/base.html" %}
{% load static %}
{% block title %} Inscripción {% endblock %}



{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
<link rel="stylesheet" href="{% static 'css/notificacion.css' %}">
{% endblock %}



{% block ContenidoScript %}
<script src="{% static 'scripts/motrar_ocultar_datos_form.js' %}"></script>
<script src="{% static 'scripts/tecleo_valido_input.js' %}"></script>
{% endblock %}

{% block header %}
<header>
    <div id="imagenCabecera" class="card text-white">
        <img src="{% static 'img/imegenDeFondo.jpg' %}" class="card-img opacity-25" height="350" alt="imagenDeFondo">
        <div class="card-img-overlay">
        <br>
        <h1 class="card-title text-center"><strong> Formulario de Docente</strong></h1>
        <br>
        <p class="card-text text-center fst-italic ">Se solicita una secuencia de datos para registrar los datos del docente.</p>
        </div>
    </div>
</header>
{% endblock %}


{% block contenido %}

<section>
    {% if messages %}
        <br>
        <fieldset id = "avisoABM" class= "ms-3 me-3 border border-1 border-primary">
            <br>
            {% for message in messages %}
                {% if message.tags == 'success' %}  <div class="message text-center" role="status"> <strong>{{ message }}</strong></div>{% endif %}
                {% if message.tags == 'get_messages' %} <div class="message text-center" role="status"> <strong>{{ message }}</strong></div>{% endif %}
                {% if message.tags == 'error' %}  <div class="errors text-center" role="alert"><strong>{{ message }}</strong></div>{% endif %}
            {% endfor %}
            <br>
        </fieldset>

    {% endif %}


        <br>
        <h2 class = "ms-3">Complete los siguientes datos:</h2> <br>

<!--        <br>-->
<!--        <label class = "ms-3" for="tipoCategoria"  onclick="OcultarMostrarDatosDelDocente();">Seleccione la categoría:  </label>-->
<!--        <input type="radio" id="tipoCategoria" name="tipoCategoria" value="alumno" checked="checked" onclick="OcultarMostrarDatosDelDocente();"> Alumno &nbsp;&nbsp;-->
<!--        <input type="radio" name="tipoCategoria" value="docente" onclick="OcultarMostrarDatosDelDocente();"> Docente &nbsp;&nbsp;-->


        <form class="needs-validation" novalidate method="post">
            <fieldset id= "datosDocente" class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">
                <div class="col-md-4">
                    {% for persona in persona.all %}
<!--                        <label for="cuil_docente" class="form-label">Cuil: {{persona.cuit_persona}}</label>-->

                        <label for="cuil_docente" class="form-label">Cuil</label>
                        <input type="text" class="form-control"  id="cuil_docente" name="cuit_persona" value="{{persona.cuit_persona}}" >
                    {% endfor %}
                </div>

                <div class="col-md-4">
                    <label for="fechaInicioAlTrabajo" class="form-label">Fecha de Inicio al trabajo:</label>
                    <input type="date" class="form-control" id="fechaInicioAlTrabajo" name="fecha_ingreso">
                </div>
                <div class="col-md-4">
                    <label for="curriculumVitae" class="form-label">Ingrese un curriculum vitae</label>
                    <input type="file" class="form-control" id="curriculumVitae" name="curriculum" >
                </div>
                <div><br></div>
                <br>
                <input type="submit" class= "btn btn-outline-primary" value = "Guardar" onclick="validarDatos();">
                <div><br></div>
            </fieldset>
            {% csrf_token %}
        </form>

    <!--        <form class="needs-validation" novalidate method="post">-->
<!--            <br><br>-->
<!--            <fieldset id= "datosAlumno" class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">-->
<!--                <div class="col-md-4">-->
<!--                    <label for="cuil_alumno" class="form-label">Cuil</label>-->
<!--                    <input type="text" class="form-control" id="cuil_alumno" name="cuit_persona">-->
<!--                </div>-->
<!--                <br>-->
<!--                <p>Nota: se le asignara automaricamente una matricula universitaria.</p>-->
<!--                <br>-->
<!--                <input type="submit" class= "btn btn-outline-primary" value = "Aceptar" onclick="validarDatos();">-->
<!--                <div><br></div>-->
<!--            </fieldset>-->
<!--            {% csrf_token %}-->
<!--        </form>-->


</section>
{% endblock %}
