{% extends "base/base.html" %}
{% load static %}
{% block title %}Abonar{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
<link rel="stylesheet" href="{% static 'css/notificacion.css' %}">
{% endblock %}


{% block ContenidoScript %}
    <script src="{% static 'scripts/motrar_ocultar_datos_form.js' %}"></script>
    <script src="{% static 'scripts/tecleo_valido_input.js' %}"></script>
{% endblock %}


{% block header %}
    <header>
        <div id="imagenCabecera" class="card text-white">
            <img src="{% static 'img/imegenDeFondo.jpg' %}" class="card-img opacity-25" height="350" alt="imagenDeFondo">
            <div class="card-img-overlay">
            <br>
            <h1 class="card-title text-center">Abonar el curso</h1>
            <br>
            <p class="card-text text-center fst-italic ">Muestra los diferentes tipos de transacciones para realizar el abonado del curso, en donde se iran desplegando las secciones correspondientes.<br>Nota: El sistema no guardara datos las transacciones realizadas con Tarjetas o Transferencias, las mismas tienen que ser tradas con la entidad banaria asociada.  </p>
            </div>
        </div>
    </header>
{% endblock %}


{% block contenido %}
    <section>
        {% if messages %}
            <br>
            <fieldset id = "avisoABM" class= "ms-3 me-3 border border-1 border-primary">
                <br>
                {% for message in messages %}
                    {% if message.tags == 'success' %}  <div class="message text-center" role="status"> <strong>{{ message }}</strong></div>{% endif %}
                    {% if message.tags == 'get_messages' %} <div class="message text-center" role="status"> <strong>{{ message }}</strong></div>{% endif %}
                    {% if message.tags == 'error' %}  <div class="errors text-center" role="alert"><strong>{{ message }}</strong></div>{% endif %}
                {% endfor %}
                <br><br><br>
                {% for persona in persona.all %}
                    <p class="text-center"><strong>¿Desea ver el recibo/ticket de pago?</strong></p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input type="button" class= "btn btn-primary center" value = "Mostrar recibo" onclick="location.href='{% url 'apps:reciboDePago' persona.cuit_persona curso.cod_curso %}'">
                    </div>
                    <br>
                    <br>
                {% endfor %}
            </fieldset>
            <br><br><br><br><br><br>
        {% endif %}


        <br>
        {% for persona in persona.all %}
            {% for curPer in curPer.all %}
                {% if curPer.cuit_persona_id == persona.cuit_persona %}
                    {% if curPer.cod_curso_id == curso.cod_curso %}
                        {% if curPer.estado_de_pago == False %}
                                <h3 class = "ms-3 text-center">Importe <strong> total a abonar $  {{curso.costo_curso}} </strong>, del curso {{curso.nombre_curso}}</h3> <br>
                        {% else %}
                                <h3 class = "ms-3 text-center"> Ya abonado</h3> <br>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div class = "container"> 
            <div class="row justify-content-md-center">
                <div class  = "col-md-6">
                    <label  class="form-label" for="tipoPago">Seleccione tipo de pago:</label>
                    <select class="form-select" id="tipoPago" name="tipoPago" onchange="Mostrar();">
                        <option selected disabled value="">Seleccione</option>
                        <option value="1">Efectivo</option>
                        <option value="2">Tarjeta de Debito/Credito</option>
                        <option value="3">Transferencia Bancaria</option>
                    </select>
                </div>
               

                <br><br><br><br>
                {% for persona in persona.all %}

                <form id = "formEfectivo" method="post" enctype="multipart/form-data">
                    <fieldset class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary"> 
                        <legend>Efectivo</legend>


                        <div class="col-md-12">
                            <label for="codigoPago" class="form-label">Codigo de pago generado:</label>
                            <input disabled type="text"  class= "form-control text-center" id="codigoPago" value = "000000000000001111111">
                        </div>
                        <div><p>Nota: Dirijase con el código generado, a un Rapipago o Pago Fácil</p></div>
                    </fieldset>
                    <br>
                    <div  class = "ms-3">

                        <!--FORMULARIO OCULTO -->
                        <input type="text"  name="cuit_persona" value="{{persona.cuit_persona}}" style="display:none">
                        <input type="text"  name="cod_curso" value="{{curso.cod_curso}}" style="display:none">
                        <input type="text"  name="importe_pago" value="{{curso.costo_curso}}" style="display:none">
                        <input type="text"  name="forma_pago" value="Efectivo" style="display:none">


                        <input type="checkbox" id= "check1" name = "check1" required>
                        <b>Confirmo el abonado del mismo.</b>
                        <div class="invalid-feedback">
                            * Oligatorio
                        </div>
                        <br><br>
                        <input type="submit" class= "btn btn-outline-primary" value = "Abonar Curso" onclick="validarDatos();">
                    </div>
                    <br>
                    {% csrf_token %}
                </form>




                <form class="needs-validation" novalidate id = "formTarjeta"  method="post" enctype="multipart/form-data">
                    <fieldset class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">
                        <legend>Tarjeta de debito / credito</legend>
                        <div class="col-md-6">
                            <label for="titular" class="form-label">Titular de la tarjeta:</label>
                            <input type="text" class="form-control" id="titular" placeholder="Nombre y Apellido" onkeypress="return ingresarSoloLetras(event);" required>
                            <div class="invalid-feedback">
                                * Oligatorio
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="numerotarjeta" class="form-label">N° de tarjeta:</label>
                            <!-- Se usa la funcion del cuil a continuación, ya que contiene solo permite el ingreso de 'numeros y -'   -->
                            <input type="text" class="form-control" id="numerotarjeta" placeholder="XXXX-XXXX-XXXX-XXXX" onkeypress="return ingresarCuil(event);" required> 
                            <div class="invalid-feedback">
                                * Oligatorio
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="fechaCaducidad" class="form-label">Fecha de caducidad:</label>
                            <input type="date"  class="form-control" id="fechaCaducidad" required>
                            <div class="invalid-feedback">
                                * Oligatorio
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="tipoTarjeta" class="form-label">Tipo de tarjeta:</label>
                            <select class="form-select" id="tipoTarjeta" required>
                            <option selected disabled value="">Seleccione</option>
                            <option value="">Visa</option>
                            <option value="">MasterCard</option>
                            </select>
                            <div class="invalid-feedback">
                                * Oligatorio
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="cvv" class="form-label">CVV:</label>
                            <input type="text"  class="form-control" id="cvv" placeholder="XXX" onkeypress="return ingresarSoloNumeros(event);" required>
                            <div class="invalid-feedback">
                                * Oligatorio
                            </div>
                        </div>
                        <div><br></div>

                    </fieldset>
                    <div  class = "ms-3">

                        <!--FORMULARIO OCULTO -->
                        <input type="text"  name="cuit_persona" value="{{persona.cuit_persona}}" style="display:none">
                        <input type="text"  name="cod_curso" value="{{curso.cod_curso}}" style="display:none">
                        <input type="text"  name="importe_pago" value="{{curso.costo_curso}}" style="display:none">
                        <input type="text"  name="forma_pago" value="Tarjeta credito/debito" style="display:none">


                        <input type="checkbox" id= "check2" name = "check2" required>
                        <b>Confirmo el abonado del mismo.</b>
                        <div class="invalid-feedback">
                            * Oligatorio
                        </div>
                        <br><br>
                        <input type="submit" class= "btn btn-outline-primary" value = "Abonar Curso" onclick="validarDatos();">
                    </div>
                    <br>
                    {% csrf_token %}
                </form>

                <form class="needs-validation" novalidate id= "formTransferencia" method="post" enctype="multipart/form-data">
                    <fieldset class= "row gx-2 gy-2  ms-3 me-3 border border-2 border-secondary">
                        <legend>Transferencia Bacnaria</legend>

                        <div class="col-md-12">
                            <label for="banco" class="form-label">Banco:</label>
                            <input type="text" class="form-control" id="banco" placeholder="Banco de la Nación Argentina" onkeypress="return ingresarSoloLetras(event);" required>
                            <div class="invalid-feedback">
                                * Oligatorio
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="codigo" class="form-label">CBU / CVU:</label>
                            <input type="number" class="form-control" id="codigo" placeholder="XXXXXXXXXXXXXXXXXXXX"  onkeypress="return ingresarSoloNumeros(event);" required>
                            <div class="invalid-feedback">
                                * Oligatorio
                            </div>
                        </div>
                        <div><br></div>

                    </fieldset>
                    <div  class = "ms-3">

                        <!--FORMULARIO OCULTO -->
                        <input type="text"  name="cuit_persona" value="{{persona.cuit_persona}}" style="display:none">
                        <input type="text"  name="cod_curso" value="{{curso.cod_curso}}" style="display:none">
                        <input type="text"  name="importe_pago" value="{{curso.costo_curso}}" style="display:none">
                        <input type="text"  name="forma_pago" value="Transferencia Bancaria" style="display:none">


                        <input type="checkbox" id= "check3" name = "check3" required>
                        <b>Confirmo el abonado del mismo.</b>
                        <div class="invalid-feedback">
                            * Oligatorio
                        </div>
                        <br><br>
                        <input type="submit" class= "btn btn-outline-primary" value = "Abonar Curso" onclick="validarDatos();">
                    </div>
                    <br>
                    {% csrf_token %}
                </form>
                {% endfor %}


<!--                <form class="needs-validation" novalidate id = "formularioAbonado"  method="post" enctype="multipart/form-data">-->
<!--                    <div  class = "ms-3">-->
<!--                        <input type="checkbox" id= "checkSeguridad" name = "checkSeguridad" required>-->
<!--                        <b>Confirmo el abonado del mismo.</b>-->
<!--                        <div class="invalid-feedback">-->
<!--                            * Oligatorio-->
<!--                        </div>-->
<!--                        <br><br>-->
<!--                        <input type="submit" class= "btn btn-outline-primary" value = "Abonar Curso" onclick="validarDatos();">-->
<!--                    </div>-->
<!--                    {% csrf_token %}-->
<!--                </form>-->


            </div>           
        </div>               
    </section>
    <br>
{% endblock %}

