{% load static %}
<!DOCTYPE html>
<html>
	<head>
	<title>FTyCA GCP - Inicio</title>
	
	<!--- bootstrap --->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- -->
	<!--- propios css --->
	<!-- <link rel="stylesheet" type="text/css" href="./css/inicio.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
	</head>

	<body>
		<header>
			<div class="container p-3 my-3 border bg-white">
				<p class="barra-der"><a href="./admin-cursos/pag-inicio-sesion.html">Iniciar sesión</a></p>
				<h1>Bienvenido</h1>
				<!--<p class="contenedor-img"><img class="fondo img-fluid" src="./images/img_presentacion_gcp.png" alt="logo gcp"></p> -->
				<p class="contenedor-img"><img class="fondo img-fluid" src="{% static 'img/img_presentacion_gcp.png' %}" alt="logo gcp"></p>
			</div>
			
			<div class="container border bg-light">
			<nav class="navbar navbar-expand-sm bg-white navbar-dark">
				
				<a class="navbar-brand" href="#">
					<!--<img src="./images/logoNavBar.png" alt="Logo" style="width:200px;"> -->
					<img src="{% static 'img/logoNavBar.png' %}" alt="Logo" style="width:200px;">
				</a>
				<ul class="nav justify-content-center">
					<li class="nav-item">
					  <a class="nav-link" href="#">Principal</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Acerca de</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</nav>
		</div>
		</header>
		
		<!--- section -->
		
		<section> 
			<div class="container-fluid">
				<h2>Navega por los cursos que más te interesen</h2>
				<div class="container p-3 my-3 border bg-white">
					<div class="row align-items-centerp-3 gx-5">  
					
						<div class="col-4 border p-3 gx-5 bg-warning">
						<!--	<div class="container border p-3 gx-5 bg-warning"> -->
							    <p class="texto_centro">Cursos activos</p>
								<p class="texto_centro">
									<!-- <a class="btn btn-outline-danger" href="./inform-pago-cursos/index.html" role="button">Ver</a> -->
									<a class="btn btn-outline-danger" href="index" role="button">Ver</a>
								</p>
							<!--	<p><a href="./inform-pago-cursos/index.html">Cursos activos</a><p> -->
						<!--	</div> -->
						</div>
						
					<!--	<div class="w-100 d-none d-xl-block"></div>  -->
						
						<div class="col-4 border p-3 gx-5 bg-warning">
						<!--	<div class="border p-3 gx-5 bg-warning"> -->
								<p class="texto_centro">Consulta opciones de pago</p>
								<p	class="texto_centro">
									<a class="btn btn-outline-danger" href="#" role="button">Ver</a>
								</p>
						<!--	</div>  -->
						</div>
						<div class="w-100"></div>
					</div> 
					
				</div>
			</div>
		</section>
			
		<!--- footer --->
		<footer class="bd-footer py-5 mt-5 bg-dark">
	<!---	<div class="contenedor_azul"> -->
			<div class="container py-5">
				<div class="row">
				<div class="col-lg-3 mb-3">
					<a class="d-inline-flex align-items-center mb-2 link-light text-decoration-none" aria-label="Bootstrap">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="d-block me-2" viewBox="0 0 118 94" role="img"><title>FTyCA</title></svg>
					<span class="fs-5">Facultad de Tecnologia y Cs. Aplicadas - UNCA</span>
					</a>
					<ul class="list-unstyled small text-muted">
					<li class="mb-2">Designed and built with all the love in the world by the <a href="/docs/5.1/about/team/">Bootstrap team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</li>
					</ul>
				</div>


				<div class="col-6 col-lg-2 offset-lg-2 mb-3 link-light">
					<h5>Dirección</h5>
					<ul class="list-unstyled">
					<li class="m2-2 text-muted">Maximio Victoria 55 C.P. 4700 SFV de Catamarca</li>
					</ul>
				</div>
				<div class="col-6 col-lg-2 mb-3 link-light">
					<h5>Contacto</h5>
					<ul class="list-unstyled">
					<li class="mb-2 text-muted">Correo: saa@tecno.unca.edu.ar</li>
					<li class="mb-2 text-muted">Telefono: (54) 0383-4435112</li>
					</ul>
				</div>
				<div class="col-6 col-lg-2 mb-3 link-light">
					<h5>Sitios Asociados</h5>
					<ul class="list-unstyled">
					<li class="mb-2 text-muted" ><a href="https://tecno.unca.edu.ar/" class="nav-link p-0 text-muted">Facultad de Tecnologia</a></li>
					<li class="mb-2 text-muted"><a href="https://moodle2.tecno.unca.edu.ar/moodle/" class="nav-link p-0 text-muted">Aula Virtual</a></li>
					<li class="mb-2 text-muted"><a href="https://guarani.unca.edu.ar/acceso/login?ref=https://guarani.unca.edu.ar/examen" class="nav-link p-0 text-muted">Siu-Guaraní</a></li>
					</ul>
				</div>
				</div>
			</div>
		<!---</div> --->
    </footer>
	</body>

</html>