{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
    {% block head %} {% endblock %}
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    {% block ContenidoScript %}  {% endblock %}


    {% block header %} {% endblock %}

    <nav id="barraDeNavegacion" class="navbar navbar-expand-md navbar-dark border-3 border-bottom border-primary">
        <div class= "container-fluid">
            <a href="{% url 'home' %}" class= "navbar-brand"><strong>GCP</strong></a>
            <button type = "button" class = "navbar-toggler" data-bs-toggle = "collapse" data-bs-target = "#MenuNavegacion">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div id = "MenuNavegacion" class= "collapse navbar-collapse">
                <ul class = "navbar-nav ms-5">
                    <li class="nav-item"><a class= "nav-link" href="{% url 'apps:index' %}" target="_parent">Inicio</a></li>
                    {% if perms.apps.change_persona and perms.apps.delete_persona %}
                    <li class="nav-item"><a class= "nav-link" href="{% url 'apps:administracionInscripcion' %}" target="_parent">Gestión de Inscriptos</a></li>
                    {% endif %}

                    {% if perms.apps.add_curso and perms.apps.change_curso and perms.apps.delete_curso %}
                    <li class="nav-item"><a class= "nav-link" href="{% url 'apps:administracionDeCursos' %}" target="_parent">Gestión de cursos</a></li>
                    {% endif %}

                    <li class= "nav-item dropdown">
                        <a class= "nav-link dropdown-toggle" href="#" role = "button" data-bs-toggle="dropdown">Opciones de soporte</a>
                        <ul class= "dropdown-menu">
                            <li><a class = "dropdown-item" href="#">Manuales</a></li>
                            <li><a class = "dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Contacta con nosotros</a></li>
                        </ul>
                    </li>
                  </ul>
                  <ul class = "navbar-nav ms-3 position-absolute top-50 end-0 translate-middle">
                      {% if user.is_authenticated %}
                          <a class = "nav-link text-nowrap my-0" target="_parent">Usuario <strong>'{{ user.username }}'</strong></a>
                          <a class = "nav-link text-nowrap my-0" href="/admin/logout/" target="_parent">Cerrar Sesion</a>
                      {% else %}
                          <li class = "nav-item">
                              <a class = "nav-link text-nowrap" href= "/admin/login/" target="_parent">Iniciar sesión</a>
                          </li>
                      {% endif%}
                  </ul>
            </div>
        </div>
        <!-- DATOS DE CONTACTO DESPLEGABLE -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Email/s de contacto:</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    sergitula.50@gmail.com <br> franvictor18@gmail.com
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
    </nav>

    {% block contenido %} {% endblock %}

    <footer id= "pieDePagina" class="bd-footer py-5 mt-5">
        <div class="container py-5">
            <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 link-light text-decoration-none" aria-label="Bootstrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="d-block me-2" viewBox="0 0 118 94" role="img"><title>FTyCA</title></svg>
                <span class="fs-5">Facultad de Tecnologia y Cs. Aplicadas - UNCA</span>
                </a>
                <ul class="list-unstyled small text-muted">
                <li class="mb-2 fst-italic link-light text-center opacity-50">Diseño implementado por los estudiantes de la cátedra de 'Programación III'.</li>
                <!-- <li class="mb-2 fst-italic link-light text-center opacity-50">Emails de contacto: <br> sergitula.50@gmail.com <br> franvictor18@gmail.com </li> -->
                </ul>
            </div>

            <div class="col-6 col-lg-2 offset-lg-2 mb-3 link-light">
                <h5>Dirección</h5>
                <ul class="list-unstyled">
                <li class="m2-2 fst-italic link-light opacity-50">Maximio Victoria 55 C.P. 4700 SFV de Catamarca</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3 link-light">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                <li class="mb-2 fst-italic link-light opacity-50">Correo: saa@tecno.unca.edu.ar</li>
                <li class="mb-2 fst-italic link-light opacity-50">Telefono: <br> (+54) 0383-4435112</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3 link-light">
                <h5 id= "prob">Sitios Asociados</h5>
                <ul class="list-unstyled">
                <li class="mb-2 text-muted"><a href="https://tecno.unca.edu.ar/" class="nav-link p-0 fst-italic link-light opacity-50" target="_parent">Facultad de Tecnologia</a></li>
                <li class="mb-2 text-muted"><a href="https://moodle2.tecno.unca.edu.ar/moodle/" class="nav-link p-0 fst-italic link-light opacity-50" target="_parent" >Aula Virtual</a></li>
                <li class="mb-2 text-muted"><a href="https://guarani.unca.edu.ar/acceso/login?ref=https://guarani.unca.edu.ar/examen" class="nav-link p-0 fst-italic link-light opacity-50" target="_parent">Siu-Guaraní</a></li>
                </ul>
            </div>
            </div>
        </div>
    </footer>


</body>
</html>