{% extends "base/base.html" %}
{% load static %}
{% block title %} FTyCA GCP - Inicio {% endblock %}


{% block head %}
	<link rel="stylesheet" href="{% static 'css/estilosIniciales.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
{% endblock %}


{% block header %}
	<div class="container p-3 my-3 border bg-white">
<!--		<p class="barra-der"><a href="apps/index/inicioSesion">Iniciar sesión</a></p>-->
		<h1>Bienvenido</h1>
		<!--<p class="contenedor-img"><img class="fondo img-fluid" src="./images/img_presentacion_gcp.png" alt="logo gcp"></p> -->
		<p class="contenedor-img"><img class="fondo img-fluid" src="{% static 'img/img_presentacion_gcp.png' %}" alt="logo gcp"></p>
	</div>
{% endblock %}



{% block contenido %}
		<section> 
			<div class="container-fluid">
				<h2>Navega por los cursos que más te interesen</h2>
				<div class="container p-3 my-3 border bg-white">
					<div class="row align-items-centerp-3 gx-5">  
					
						<div class="col-4 border p-3 gx-5 bg-warning">
						<!--	<div class="container border p-3 gx-5 bg-warning"> -->
							    <p class="texto_centro">Cursos activos</p>
								<p class="texto_centro">
									<!-- <a class="btn btn-outline-danger" href="./inform-pago-cursos/index.html" role="button">Ver</a> -->
									<a class="btn btn-outline-danger" href="apps/index" role="button">Ver</a>
								</p>
							<!--	<p><a href="./inform-pago-cursos/index.html">Cursos activos</a><p> -->
						<!--	</div> -->
						</div>
						
					<!--	<div class="w-100 d-none d-xl-block"></div>  -->
						
						<div class="col-4 border p-3 gx-5 bg-warning">
						<!--	<div class="border p-3 gx-5 bg-warning"> -->
								<p class="texto_centro">Consulta opciones de pago</p>
								<p	class="texto_centro">
									<a class="btn btn-outline-danger" href="#" role="button">Ver</a>
								</p>
						<!--	</div>  -->
						</div>
						<div class="w-100"></div>
					</div> 
					
				</div>
			</div>
		</section>

{% endblock %}

